<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
   <globalization
        fileEncoding="utf-8"
        requestEncoding="utf-8"
        responseEncoding="utf-8"
        culture="en-US"
        uiCulture="de-DE"
    />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ApartmentConnection"
      connectionString="Data Source=HAI-PC\SQLEXPRESS;Initial Catalog=qlch;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
